<!doctype html>
<html lang=en-US>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The wedding website for Rebecca Silverman and Thomas Garver.">
    <title>Rebecca and Tom's Wedding Website</title>
</head>

<body class="background">
    <!-- Latest compiled and minified CSS -->
    {% if local_files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    {% else %}
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {% endif %}


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flipclock.css') }}">
    <script src="{{ url_for('static', filename='js/flipclock.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hyphenate.js') }}"></script>
    <!-- AddEvent -->
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

    <!-- Latest compiled and minified JavaScript -->
    <div class="container">
        <div class="content_padding">
            <div class="row hidden-xs hidden-sm">
                <div class="heading_container inline-block center_text">
                    <div><h2 class="heading"><a class="no_link" href="/">Rebecca & Tom</a></h2></div>
                    <div class="heading_date"><a class="no_link" href="/">5♥6♥17</a></div>
                </div>
            </div>
            <nav id="topnav" class="navbar navbar-default hidden-lg hidden-md">
                <div class="container-fluid">
                     <!--Brand and toggle get grouped for better mobile display-->
                    <div class="navbar-header hidden-md hidden-lg pastel_lavender">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <div class="navbar-brand" href="#"><span class="navbar_heading">Rebecca & Tom</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="navbar_heading fr navbar_date">5♥&#xFE0E;6♥&#xFE0E;17</span></div>
                    </div>
                     <!--Collect the nav links, forms, and other content for toggling-->
                    <div class="navbar collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li class="col-sm-2 col-md-2  left_edge">
                                <a class="center_text" title="Home" href="/#">
                                    <!--<img src="{{ url_for('static', filename='images/elephant_new.png') }}" width="30px" class="fl inline-block navbar_elephant">-->
                                    <h3>Home</h3>
                                </a>
                            </li>
                            <li class="col-sm-2 col-md-2 center_text">
                                <a class="center_text" title="Wedding Info" href="/wedding">
                                    <h3>Wedding Info</h3>
                                    <!--<img src="{{ url_for('static', filename='images/elephant_new.png') }}" width="30px" class="fr inline-block navbar_elephant mirror">-->
                                </a>
                            </li>
                            <li class="col-sm-2 col-md-2  ">
                                <a class="center_text" title="RSVP" href="/rsvp">
                                    <!--<img src="{{ url_for('static', filename='images/elephant_new.png') }}" width="30px" class="fl inline-block navbar_elephant">-->
                                    <h3>RSVP</h3>
                                </a>
                            </li>
                            <li class="col-sm-2 col-md-2 center_text">
                                <a class="center_text" title="Our Story" href="/our_story">
                                    <h3>Our Story</h3>
                                    <!--<img src="{{ url_for('static', filename='images/elephant_new.png') }}" width="30px" class="fr inline-block navbar_elephant mirror">-->
                                </a>
                            </li>
                            <li class="col-sm-2 col-md-2 right_edge">
                                <a class="center_text" title="Registry" href="/registry">
                                    <!--<img src="{{ url_for('static', filename='images/elephant_new.png') }}" width="30px" class="fl inline-block navbar_elephant">-->
                                    <h3>Registry</h3>
                                </a>
                            </li>
                            <li class="col-sm-2 col-md-2 center_text ">
                                <a class="center_text" title="Pictures" href="/gallery">
                                    <h3>Pictures</h3>
                                    <!--<img src="{{ url_for('static', filename='images/elephant_new.png') }}" width="30px" class="fr inline-block navbar_elephant mirror">-->
                                </a>
                            </li>
                        </ul>
                    </div>
                     <!--/.navbar-collapse-->
                </div>
                 <!--/.container-fluid-->
            </nav>
        </div>
    </div>
    <img class="bottom_right_flowers hidden-sm hidden-xs" src="{{ url_for('static', filename='images/floral-background.png') }}">
    <img class="bottom_left_flowers hidden-sm hidden-xs" src="{{ url_for('static', filename='images/floral-background.png') }}">
    <div class="container main_container">
        <div class="content_padding full_height">
            <div class="side_elephant_container hidden-sm hidden-xs">
                <a href="/" class="no_link">
                    <div class="side_elephant">
                        <img src="{{ url_for('static', filename='images/elephant_new.png') }}" width="190px" class="fl inline-block">
                        <span class="side_elephant_label_left" style="top: -75px;left: 35px;">Home</span>
                    </div>
                </a>
                <a href="/wedding" class="no_link">
                    <div class="side_elephant">
                        <img src="{{ url_for('static', filename='images/elephant_new.png') }}" width="190px" class="fl inline-block">
                        <span class="side_elephant_label_left" style="top: -90px;left: 26px;">Wedding<br>Info</span>
                    </div>
                </a>
                <a href="/rsvp" class="no_link">
                    <div class="side_elephant">
                        <img src="{{ url_for('static', filename='images/elephant_new.png') }}" width="190px" class="fl inline-block">
                        <span class="side_elephant_label_left" style="top: -75px;left: 40px;">RSVP</span>
                    </div>
                </a>
            </div>
            {% block body_container %} {% endblock %}
            <div class="side_elephant_container_right fr hidden-sm hidden-xs">
                <a href="/our_story" class="no_link">
                    <div class="side_elephant">
                        <img src="{{ url_for('static', filename='images/elephant_new.png') }}" width="190px" class="fr inline-block mirror">
                        <span class="side_elephant_label_right" style="top: -97px;left: 108px;">Our<br>Story</span>
                    </div>
                </a>
                <a href="/registry" class="no_link">
                    <div class="side_elephant">
                        <img src="{{ url_for('static', filename='images/elephant_new.png') }}" width="190px" class="fr inline-block mirror">
                        <span class="side_elephant_label_right" style="top: -75px;left: 90px;">Registry</span>
                    </div>
                </a>
                <a href="/gallery" class="no_link">
                    <div class="side_elephant">
                        <img src="{{ url_for('static', filename='images/elephant_new.png') }}" width="190px" class="fr inline-block mirror">
                        <span class="side_elephant_label_right" style="top: -75px;left: 90px;">Pictures</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>