<!doctype html>
<title>Rebecca and Tom</title>
<body class="background">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- http://getskeleton.com/ -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flipclock.css') }}">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/flipclock.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h2 class="hero center_text"><span class="rebecca_name">Rebecca</span> & <span class="tom_name">Tom</span></h2>
            </div>
        </div>
        <div class="row">
            <h5 class="two columns center_text">Our Story</h5>
            <h5 class="two columns center_text">The Wedding</h5>
            <h5 class="two columns center_text">Lodging</h5>
            <h5 class="two columns center_text">RSVP</h5>
            <h5 class="two columns center_text">Pictures</h5>
            <h5 class="two columns center_text">Registry</h5>
        </div>
        <div class="row">
            <div class="twelve columns">
                <img class="main_image u-max-full-width">
            </div>
        </div>
    </div>


</body>