<!--<a class="nav_anchor" name="wedding"></a>-->
    <!--<div class="content_block pastel_pink_light">-->
    <!--    <div class="row">-->
            <!--<img src="http://nyit.edu/files/deseversky/images/deseversky-logo.png">-->
    <!--        <h2 class="content_block_heading center_text">Wedding Information</h2>-->
    <!--        <hr class="heading_line">-->
            <!--<p class="icon">&#128197;</p>-->
            <!--<p class="icon">&#128338;</p>-->
            <!--<p class="icon">&#128716;</p>-->
    <!--        <div class="col-sm-6 center_text">-->
    <!--            <h3 class="info_section_header">Date</h3>-->
    <!--            <div class="hidden-xs">-->
    <!--                <p class="info_section_content">5:30pm</p>-->
    <!--                <p class="info_section_content">on</p>-->
    <!--                <p class="info_section_content">May 6, 2017</p>-->
    <!--            </div>-->
    <!--            <div class="hidden-sm hidden-md hidden-lg">-->
    <!--                <p class="info_section_content">5:30pm on May 6, 2017 </p>-->
    <!--            </div>-->
    <!--            <div title="Add to Calendar" class="addeventatc">-->
    <!--                Add to Calendar<span class="arrow"></span>-->
    <!--                <span class="start">08/26/2016 05:30 PM</span>-->
    <!--                <span class="end">08/26/2016 11:00 PM</span>-->
    <!--                <span class="timezone">America/New_York</span>-->
    <!--                <span class="title">Rebecca and Tom's Wedding</span>-->
    <!--                <span class="description">Rebecca and Tom's Wedding</span>-->
    <!--                <span class="location">NYIT de Seversky Mansion</span>-->
    <!--                <span class="organizer_email">garverman1@gmail.com</span>-->
    <!--                <span class="all_day_event">false</span>-->
    <!--                <span class="date_format">MM/DD/YYYY</span>-->
    <!--                <span class="client">aEqQAlueyzkKeuOXzmHc20175</span>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-sm-6 center_text">-->
    <!--            <h3 class="info_section_header">Location</h3>-->
    <!--            <p class="info_section_content justify">NYIT's de Seversky mansion is cool. We're going to get married there.</p>-->
    <!--            <p class="info_section_content"><a target="_blank" href="https://maps.google.com/maps?ll=40.809074,-73.614365&amp;z=14&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=embed&amp;cid=7511891454804173835">Click here for directions</a></p>-->
                <!--<img class="js-expand-location-information" src="http://nyit.edu/files/deseversky/images/deseversky-logo.png">-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <br><br>-->
    <!--    <div class="row">-->
    <!--        <div class="col-sm-6 center_text">-->
    <!--            <h3 class="info_section_header">Attire</h3>-->
    <!--            <p class="info_section_content justify">The dress code for the wedding is White Tie.</p>-->
    <!--            <p class="info_section_content justify">Not sure what that means? Click a link below, or just ask us!</p>-->
    <!--            <span class="info_section_content"><a href="#">Ladies</a></span>-->
    <!--            <span class="info_section_content"><a href="#">Gentlemen</a></span>-->
    <!--        </div>-->
    <!--        <div class="col-sm-6 center_text">-->
    <!--            <h3 class="info_section_header">Accomodations</h3><p class="info_section_content justify">We have discounted room blocks at the following locations. Click on a hotel for more information.</p>-->
    <!--            <img class="hotel_logo" src="http://2.bp.blogspot.com/-WvMTa5ZAogA/VWrRqbshckI/AAAAAAAACyU/0bQgiSNAM_k/s320/Hilton-vector-logo.png">-->
    <!--            <img class="hotel_logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Marriott_Logo.svg/200px-Marriott_Logo.svg.png">-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<a class="nav_anchor" name="rsvp"></a>-->
    <!--<div class="content_block pastel_yellow_light">-->
    <!--    <h2 class="content_block_heading center_text">RSVP</h2>-->
    <!--    <hr class="heading_line">-->
    <!--    <div class="info_section_content">-->
    <!--        <div class="js-toggle-electronic-invitation-form justify hyphenate pointer">We haven't sent out invitations yet, but if you would like to request an electronic invitation instead of a traditional one, please click here.&nbsp;&nbsp;    <span class="caret"></span></div>-->
    <!--        <iframe class="hidden js-electronic-invitation-form" src="https://docs.google.com/forms/d/1uKIVlwSyHFMcOT8QqNN343FEwgEzrmLtPHonKg-ihq0/viewform?embedded=true" width="100%" height="750" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>-->
    <!--    </div>-->
    <!--    <div class="info_section_content">-->
    <!--        <div class="js-toggle-regrets-form justify hyphenate pointer">If you already know you won't be able to attend, click here.&nbsp;&nbsp;<span class="caret"></span></div>-->
    <!--        <iframe class="hidden js-regrets-form" src="https://docs.google.com/forms/d/1jHsAPi3X6xq7gFixrTH9nckm1tPRmLnYr4MkAsSWYVM/viewform?embedded=true" width="100%" height="1010" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>-->
    <!--    </div>-->
        <!--<iframe height="300" width="600" src="https://garvermantest.app.rsvpify.com/"></iframe>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<a class="nav_anchor" name="our_story"></a>-->
    <!--<div class="content_block pastel_green_light">-->
    <!--    <h2 class="content_block_heading center_text">Our Story</h2>-->
    <!--    <hr class="heading_line">-->
    <!--    <div class="info_section_content justify hyphenate">-->
    <!--        <p>Lorem ipsum dolor sit amet, in veniam mucius ceteros per, ius odio disputationi an. Eu vel aperiri abhorreant, menandri splendide efficiantur ea vix, eum nobis facilis civibus ex. Ludus postulant repudiare ut vim, nam choro quando hendrerit ex. Et oblique perfecto instructior has, cu eum maluisset torquatos. Debet altera noluisse id has.</p>-->
    <!--        <p>Cu mea blandit accommodare. In mea eros pertinax. At tota corpora deserunt his. Id sit viris salutandi. In minimum suavitate vituperata eam, nam everti impetus mandamus ea, at legere platonem pri. No est agam habeo habemus.</p>-->
    <!--        <p>Saepe semper vim cu, id usu animal impetus repudiare. Quodsi persequeris accommodare ius at, et sale urbanitas consectetuer sea. Mei et denique iracundia, no nostro delectus pri. Ullum tollit vis te. Est tota reprehendunt ut, id ceteros salutandi pro.</p>-->
    <!--    </div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<a class="nav_anchor" name="registry"></a>-->
    <!--<div class="content_block pastel_orange_light center_text">-->
    <!--    <h2 class="content_block_heading center_text">Registry</h2>-->
    <!--    <hr class="heading_line">-->
    <!--    <img class="registry_logo" src="http://logonoid.com/images/crate-and-barrel-logo.png">-->
    <!--    <img class="registry_logo" src="https://outlook.wayfair.com/owa/auth/15.0.1130/themes/resources/logo_wayfair.png">-->
    <!--    <img class="registry_logo" src="http://logonoid.com/images/macys-logo.png">-->
    <!--</div>-->
    <!--<hr>-->
    <!--<a class="nav_anchor" name="gallery"></a>-->
    <!--<div class="content_block pastel_blue_light center_text">-->
    <!--    <iframe name="gallery_frame" class="gallery_frame" src="https://garverman.smugmug.com/Proposal" width="100%" height="800px" frameborder="no" scrolling="yes"></iframe>-->
    <!--</div>-->
    <!--<div class="content_block pastel_blue_light center_text">-->
    <!--    Bonus Ellie Content-->
    <!--</div>-->
    <!--<br/>-->
    <!--<br/>-->
    <!--Garverman Productions © 2016-->