{% extends "base.html" %}
{% block body_container %}
    <div class="image_contain u-max-full-width">
        <img class="main_image">
    </div>
    <div id="clock" class="center_text">
        <div class="time_block"><div class="inner"><h2 class="days"></h2></div>Days</div>
        <div class="time_block"><div class="inner"><h2 class="hours"></h2></div>Hours</div>
        <div class="time_block"><div class="inner"><h2 class="minutes"></h2></div>Minutes</div>
        <div class="time_block"><div class="inner"><h2 class="seconds"></h2></div>Seconds</div>
    </div>
{% endblock %}