{% extends "base.html" %}
{% block body_container %}
    <div class="content_block topnav_spacing">
        <h2 class="content_block_heading center_text">Registry</h2>
        <hr class="heading_line">
        <div class="center_text">
            <a href="http://www.bloomingdales.com/registry/wedding/guest/?registryId=2326769" class="no_link" target="_blank"><img class="registry_logo" src="{{ url_for('static', filename='images/bloomingdales_logo.png') }}"></a>
            <a href="http://www.surlatable.com/registry/giftRegistryList.jsp?id=2001621939216" class="no_link" target="_blank"><img class="registry_logo" src="{{ url_for('static', filename='images/sur_la_table_logo.png') }}"></a>
            <br>
            <br>
            <br>
            <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=543874201&pwsurl=" class="no_link" target="_blank"><img class="registry_logo" src="{{ url_for('static', filename='images/bed_bath_and_beyond_logo.png') }}"></a>
            <a href="http://www.thepolishedplate.com/giftregistry.aspx?guid=4e630cde-3eac-4351-908c-a359616da1ec" class="no_link" target="_blank"><img class="registry_logo" src="{{ url_for('static', filename='images/the_polished_plate_logo.png') }}"></a>
            <br>
            <br>
            <br>
            <a href="http://www.potterybarn.com/registry/3922696/registry-list.html" class="no_link" target="_blank"><img class="registry_logo" src="{{ url_for('static', filename='images/pottery_barn_logo.png') }}"></a>
            <a href="http://www.crateandbarrel.com/gift-registry/rebecca-silverman-and-tom-garver/r5594766" class="no_link" target="_blank"><img class="registry_logo" src="{{ url_for('static', filename='images/crate_and_barrel_logo.png') }}"></a>
            <br>
            <br>
            <br>
            <a href="https://www.wayfair.com/registry/wedding/garverman" class="no_link" target="_blank"><img class="registry_logo" src="{{ url_for('static', filename='images/wayfair_logo.png') }}"></a>
            <a href="https://www.amazon.com/wedding/share/garverman" class="no_link" target="_blank"><img class="registry_logo" src="{{ url_for('static', filename='images/amazon_logo.png') }}"></a>
            <br>
            <br>
            <br>
            <a href="https://tendr.com/rebecca-and-thomas-wedding" class="no_link center_text" target="_blank"><img class="registry_logo" src="{{ url_for('static', filename='images/tendr_logo.png') }}"></a>

        </div>

    </div>
{% endblock %}