{% extends "base.html" %}
{% block body_container %}
    <div class="content_block topnav_spacing">
        <h2 class="content_block_heading center_text">RSVP</h2>
        <hr class="heading_line">
        <br>
        <div class="row rsvp_row">
            <div class="col-med-2"></div>
            <div class="col-med-8 center_text rebecca_purple"><a class="rsvp_link no_link" href="/regrets">Can't make it? Click <span class="underline">here</span> to send your regrets.</a></div>
            <div class="col-med-2"></div>
        </div>
        <br><br>
        <div class="row rsvp_row">
            <div class="col-med-2"></div>
            <div class="col-med-8 center_text rebecca_purple"><a class="rsvp_link no_link" href="/request_electronic_invitation">Want to save a tree? Click <span class="underline">here</span> to request an electronic invitation.</a></div>
            <div class="col-med-2"></div>
        </div>
        <!--<iframe class="js-electronic-invitation-form" src="https://docs.google.com/forms/d/1uKIVlwSyHFMcOT8QqNN343FEwgEzrmLtPHonKg-ihq0/viewform?embedded=true" width="100%" height="750" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>-->
        <!--<iframe class="js-regrets-form" src="https://docs.google.com/forms/d/1jHsAPi3X6xq7gFixrTH9nckm1tPRmLnYr4MkAsSWYVM/viewform?embedded=true" width="100%" height="1010" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>-->
    </div>
{% endblock %}