{% extends "base.html" %}
{% block body_container %}
    <div class="content_block topnav_spacing">
        <h2 class="content_block_heading center_text">RSVP</h2>
        <hr class="heading_line">
        <br>
        <div class="row rsvp_row">
            <div class="col-med-2"></div>
            <div class="col-med-8 center_text rebecca_purple"><a class="rsvp_link no_link" target="_blank" href="http://bc9783e6-0dbc.minted.us/rsvp">Click here to RSVP through our online form.</a></div>
            <div class="col-med-2"></div>
        </div>
    </div>
{% endblock %}