{% extends "base.html" %}
{% block body_container %}
    <div class="content_block topnav_spacing">
        <h2 class="content_block_heading center_text">RSVP</h2>
        <hr class="heading_line">
        <br>
        <div class="row rsvp_row">
            <div class="col-med-2"></div>
            <div class="col-med-8 center_text rebecca_purple"><a class="rsvp_link no_link" href="/regrets">Can't make it? Click <span class="underline">here</span> to send your regrets.</a></div>
            <div class="col-med-2"></div>
        </div>
        <br><br>
        <div class="row rsvp_row">
            <div class="col-med-2"></div>
            <div class="col-med-8 center_text rebecca_purple"><a class="rsvp_link no_link" href="/request_electronic_invitation">Want to save a tree? Click <span class="underline">here</span> to request an electronic invitation.</a></div>
            <div class="col-med-2"></div>
        </div>
        <!--<div class="row rsvp_row">-->
        <!--    <div class="col-med-2"></div>-->
        <!--    <div class="col-med-8 center_text rebecca_purple"><a class="rsvp_link no_link" href="http://bc9783e6-0dbc.minted.us/rsvp">RSVP Online</a></div>-->
        <!--    <div class="col-med-2"></div>-->
        <!--</div>-->
    </div>
{% endblock %}