{% extends "base.html" %}
{% block body_container %}
<div class="content_block topnav_spacing">
    <div class="hidden-sm hidden-xs">
        <div class="row">
            <!--<img src="http://nyit.edu/files/deseversky/images/deseversky-logo.png">-->
            <h1 class="content_block_heading center_text">Wedding Information</h1>
            <hr class="heading_line">
            <!--<p class="icon">&#128197;</p>-->
            <!--<p class="icon">&#128338;</p>-->
            <!--<p class="icon">&#128716;</p>-->
            <div class="col-md-1"></div>
            <div class="col-md-5 center_text">
                <img class="rings_image" src="{{ url_for('static', filename='images/wedding_rings.png') }}">
            </div>
            <div class="col-md-5 center_text">
                <br>
                <h2 class="info_section_header">Come Celebrate with Us</h2>
                <div>
                    <p class="info_section_content">5:30pm</p>
                    <p class="info_section_content">on</p>
                    <p class="info_section_content">May 6, 2017</p>
                </div>
                <div title="Add to Calendar" class="addeventatc">
                    Add to Calendar<span class="arrow"></span>
                    <span class="start">05/06/2017 05:30 PM</span>
                    <span class="end">05/06/2017 11:00 PM</span>
                    <span class="timezone">America/New_York</span>
                    <span class="title">Rebecca and Tom's Wedding</span>
                    <span class="description">Rebecca and Tom's Wedding</span>
                    <span class="location">NYIT de Seversky Mansion</span>
                    <span class="organizer_email">garverman1@gmail.com</span>
                    <span class="all_day_event">false</span>
                    <span class="date_format">MM/DD/YYYY</span>
                    <span class="client">aEqQAlueyzkKeuOXzmHc20175</span>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 center_text">
                <br><br><br><br>
                <h2 class="info_section_header">Ceremony & Reception Location</h2>
                <p class="info_section_content justify">We're getting married at the <a href="http://www.nyit.edu/deseversky" target="_blank">NYIT De Seversky Mansion</a> in Old Westbury, NY.</p>
                <p class="info_section_content"><a target="_blank" href="https://maps.google.com/maps?ll=40.809074,-73.614365&amp;z=14&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=embed&amp;cid=7511891454804173835">Click here for directions</a></p>
            </div>
            <div class="col-md-5 center_text hidden-xs">
                <br>
                <iframe src="https://garverman.smugmug.com/frame/slideshow?key=VbgdMd&autoStart=1&captions=0&navigation=1&playButton=0&speed=5&transition=fade&transitionSpeed=1" width="360" height="320" frameborder="no" scrolling="no"></iframe>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 center_text">
                <br>
                <img class="attire_icon fl" src="{{ url_for('static', filename='images/tuxedo_icon.png') }}">
                <img class="attire_icon fr" src="{{ url_for('static', filename='images/dress_icon.png') }}">
            </div>
            <div class="col-md-5 center_text">
                <h2 class="info_section_header">Attire</h2>
                <p class="info_section_content justify">The dress code for the wedding is Black Tie Optional.</p>
                <p class="info_section_content justify">Not sure what that means? <a target="_blank" href="https://www.theknot.com/content/what-to-wear-formal-black-tie-optional-black-tie-invited">Click here for a description.</a></p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row center_text">
            <div class="col-md-12 center_text">
                <br><br><br><br>
                <h2 class="info_section_header">Accomodations</h2>
                <p class="info_section_content">We have arranged for discounted room blocks at the following nearby hotels:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 center_text hidden-xs">
                <img class="hotel_image" src="http://www.starwoodhotels.com/pub/media/1476/fpt1476ex.144292_md.jpg">
                <h3><a target="_blank" href="http://www.fourpointsplainviewlongisland.com/" class="no_link">Four Points by Sheraton</a></h3>
                <h4>Plainview, NY — $189</h4>
                <p>Call the hotel reservations department at (516) 694-6500. When making your reservation, please identify yourself with the group <b>Silverman ~ Garver Wedding</b> in order to receive the special discounted rate.</p>
                <a target="_blank" href="https://www.google.com/maps/place/Four+Points+by+Sheraton+Plainview+Long+Island/@40.7848771,-73.4487896,17z/data=!3m1!4b1!4m5!3m4!1s0x89e82a1739a32637:0xe6804337bb48c542!8m2!3d40.7848771!4d-73.4466009">Click for directions</a>
            </div>
            <div class="col-md-6 center_text hidden-xs">
                <img class="hotel_image" src="https://exp.cdn-hotels.com/hotels/4000000/3010000/3007800/3007704/3007704_51_z.jpg">
                <h3><a target="_blank" href="https://gardencity.place.hyatt.com/en/hotel/home.html" class="no_link">Hyatt Place</a></h3>
                <h4>Garden City, NY — $189</h4>
                <p>Call the hotel directly at (516) 222-6277 or use the <a href="https://gardencity.place.hyatt.com/en/hotel/home.html" target="_blank">online booking tool</a>. Please use our group code (to be determined) when making your reservation.</p>
                <a target="_blank" href="https://www.google.com/maps/place/Hyatt+Place+Garden+City/@40.741479,-73.6107896,17z/data=!3m1!4b1!4m5!3m4!1s0x89c287806ba7132d:0xd02114a4c31df10f!8m2!3d40.741479!4d-73.6086009">Click for directions</a>
            </div>
        </div>
    </div>

    <div class="center_text hidden-md hidden-lg">
        <h1 class="content_block_heading center_text">Wedding Information</h1>
        <hr class="heading_line">
        <div>
            <h2 class="info_section_header">Come Celebrate with Us</h2>
            <p class="info_section_content">5:30pm on May 6, 2017 </p>
            <div title="Add to Calendar" class="addeventatc">
                Add to Calendar<span class="arrow"></span>
                <span class="start">08/26/2016 05:30 PM</span>
                <span class="end">08/26/2016 11:00 PM</span>
                <span class="timezone">America/New_York</span>
                <span class="title">Rebecca and Tom's Wedding</span>
                <span class="description">Rebecca and Tom's Wedding</span>
                <span class="location">NYIT de Seversky Mansion</span>
                <span class="organizer_email">garverman1@gmail.com</span>
                <span class="all_day_event">false</span>
                <span class="date_format">MM/DD/YYYY</span>
                <span class="client">aEqQAlueyzkKeuOXzmHc20175</span>
            </div>
        </div>
        <br>
        <div>
            <h2 class="info_section_header">Ceremony & Reception Location</h2>
            <p class="info_section_content justify">We're getting married at the <a href="http://www.nyit.edu/deseversky" target="_blank">NYIT De Seversky Mansion</a> in Old Westbury, NY.</p>
            <p class="info_section_content"><a target="_blank" href="https://maps.google.com/maps?ll=40.809074,-73.614365&amp;z=14&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=embed&amp;cid=7511891454804173835">Click here for directions</a></p>
        </div>
        <br>
        <div>
            <h2 class="info_section_header">Attire</h2>
            <p class="info_section_content">The dress code for the wedding is Black Tie Optional.</p>
            <p class="info_section_content">Not sure what that means? <a target="_blank" href="https://www.theknot.com/content/what-to-wear-formal-black-tie-optional-black-tie-invited">Click here for a description.</a></p>
        </div>
        <br>
        <div>
            <h2 class="info_section_header">Accomodations</h2>
            <p class="info_section_content justify">We have arranged for discounted room blocks at the following nearby hotels:</p>
        </div>
        <div>
            <div class="center_text">
                <img class="hotel_image" src="http://www.starwoodhotels.com/pub/media/1476/fpt1476ex.144292_md.jpg">
                <h3><a target="_blank" href="http://www.fourpointsplainviewlongisland.com/" class="no_link">Four Points by Sheraton</a></h3>
                <h4>Plainview, NY — $189</h4>
                <p>Call the hotel reservations department at <a href="tel:1-516-694-6500">(516) 694-6500</a>. When making your reservation, please identify yourself with the group <b>Silverman ~ Garver Wedding</b> in order to receive the special discounted rate.</p>
                <a target="_blank" href="https://www.google.com/maps/place/Four+Points+by+Sheraton+Plainview+Long+Island/@40.7848771,-73.4487896,17z/data=!3m1!4b1!4m5!3m4!1s0x89e82a1739a32637:0xe6804337bb48c542!8m2!3d40.7848771!4d-73.4466009">Click for directions</a>
            </div>
            <div class="center_text">
                <img class="hotel_image" src="https://exp.cdn-hotels.com/hotels/4000000/3010000/3007800/3007704/3007704_51_z.jpg">
                <h3><a target="_blank" href="https://gardencity.place.hyatt.com/en/hotel/home.html" class="no_link">Hyatt Place</a></h3>
                <h4>Garden City, NY — $189</h4>
                <p>Call the hotel directly at <a href="tel:1-516-222-6277">(516) 222-6277</a> or use the <a href="http://gardencity.place.hyatt.com/en/hotel/home.html?corp_id=g-siga" target="_blank">online booking tool</a>. The group code is <b>G-SIGA</b>, which should be filled in automatically by this link.</p>
                <a target="_blank" href="https://www.google.com/maps/place/Hyatt+Place+Garden+City/@40.741479,-73.6107896,17z/data=!3m1!4b1!4m5!3m4!1s0x89c287806ba7132d:0xd02114a4c31df10f!8m2!3d40.741479!4d-73.6086009">Click for directions</a>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
</div>
{% endblock %}